enable-magisk-update = true # set this to false if you do not want to receive updates for the module in magisk app
parallel-jobs = 1

# add 'enabled = false' for not patching a specific app or remove it from the config
# see https://github.com/j-hc/revanced-magisk-module/blob/main/CONFIG.md for more detailed explanations

# you can use rvmm-config-gen to generate a config

[YouTube]
enabled = true
build-mode = "apk"
arch = "arm64-v8a"
included-patches = "'Hide ads' 'Video ads' 'Remove viewer discretion dialog' 'Change header' 'Hide video action buttons' 'Hide end screen suggested video' 'Hide layout components' 'Hide player flyout menu items' 'Hide related video overlay' 'Open videos fullscreen' 'Return YouTube Dislike' 'SponsorBlock' 'Theme' 'GmsCore support' 'Bypass URL redirects' 'Open links externally' 'Loop video' 'Spoof video streams' 'Video quality' 'Playback speed'"
exclusive-patches = true
version = "auto"
apkmirror-dlurl = "https://www.apkmirror.com/apk/google-inc/youtube"
uptodown-dlurl = "https://youtube.en.uptodown.com/android"
archive-dlurl = "https://archive.org/download/jhc-apks/apks/com.google.android.youtube"

[Music]
enabled = false
build-mode = "apk"
arch = "arm64-v8a"
apkmirror-dlurl = "https://www.apkmirror.com/apk/google-inc/youtube-music"
uptodown-dlurl = "https://youtube-music.en.uptodown.com/android"
archive-dlurl = "https://archive.org/download/jhc-apks/apks/com.google.android.apps.youtube.music"
included-patches = "'Change package name'"
patcher-args = "-e 'Change package name' -OpackageName=com.google.android.apps.youtube.music"

[GooglePhotos]
enabled = true
build-mode = "apk"
arch = "arm64-v8a"
version = "auto"
apkmirror-dlurl = "https://www.apkmirror.com/apk/google-inc/photos/"
uptodown-dlurl = "https://google-photos.en.uptodown.com/android"

# https://github.com/j-hc/revanced-magisk-module/issues/554
[Music-Extended]
enabled = "true"
app-name = "YT Music"
patches-source = "anddea/revanced-patches"
patches-version = "dev"
rv-brand = "ReVanced Extended"
build-mode = "apk"
arch = "arm64-v8a"
apkmirror-dlurl = "https://www.apkmirror.com/apk/google-inc/youtube-music"
patcher-args = "-e 'GmsCore support' -OpackageNameYouTubeMusic=com.google.android.apps.youtube.music"

[YouTube-Extended]
enabled = true
app-name = "RVX"
patches-source = "anddea/revanced-patches"
patches-version = "dev"
rv-brand = "ReVanced Extended"
build-mode = "apk"
apkmirror-dlurl = "https://www.apkmirror.com/apk/google-inc/youtube"

[Reddit]
enabled = true
apkmirror-dlurl = "https://apkmirror.com/apk/redditinc/reddit/"

[Spotify]
enabled = false
build-mode = "both"
uptodown-dlurl = "https://spotify.en.uptodown.com/android"
archive-dlurl = "https://archive.org/download/jhc-apks/apks/com.spotify.music"

[Twitch]
enabled = false
apkmirror-dlurl = "https://www.apkmirror.com/apk/twitch-interactive-inc/twitch/"
uptodown-dlurl = "https://twitch.en.uptodown.com/android"
# archive-dlurl = "https://archive.org/download/jhc-apks/apks/tv.twitch.android.app"

[Twitter]
enabled = false
apkmirror-dlurl = "https://www.apkmirror.com/apk/x-corp/twitter"
build-mode = "apk"
dpi = "120-640dpi"
# archive-dlurl = "https://archive.org/download/jhc-apks/apks/com.twitter.android"

[TikTok]
enabled = false
# archive-dlurl = "https://archive.org/download/jhc-apks/apks/com.zhiliaoapp.musically"
included-patches = "'SIM spoof'"

[Messenger]
enabled = false
apkmirror-dlurl = "https://www.apkmirror.com/apk/facebook-2/messenger/"
arch = "arm64-v8a"

[IconPackStudio]
enabled = false
apkmirror-dlurl = "https://www.apkmirror.com/apk/smart-launcher-team/icon-pack-studio/"
